In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.min_rows', 500)  # <-add this!
pd.set_option('display.max_rows', 500)

#got here: https://stackoverflow.com/questions/34398054/ipython-notebook-cell-multiple-outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
table = pd.read_csv('mls_standings.csv')

table.head()
rows = len(table.axes[0])
cols = len(table.axes[1])
print("Number of Rows: ", rows)
print("Number of Columns: ", cols)

   Season  Pos  Team  Pts   PPG  GP   W   L  D  GF  GA  GD
0    2000    1   CHI   57  1.78  32  17   9  6  67  51  16
1    2000    2   SKC   56  1.81  31  16   7  8  47  29  18
2    2000    3  RBNY   54  1.69  32  17  12  3  64  56   8
3    2000    4   TBM   52  1.63  32  16  12  4  62  50  12
4    2000    5    LA   50  1.56  32  14  10  8  47  37  10

Number of Rows:  401
Number of Columns:  12